<%= search_form_for @q, url: "/products/search" do |f| %>
  <%= f.label :name_or_description_cont %>
  <%= f.search_field :name_cont%>

  <%= f.label :category_name_eq, "Category" %>
  <%= f.select :category_name_eq, options_from_collection_for_select(Category.all, :name, :name, @q.category_name_eq), {:include_blank => true}%>

  <%= f.submit %>
<% end %>
<%= paginate @products %>
<% @products.each do |productDisplay| %>
<div class="columns is-mobile is-multiline is-centered is-3-desktop">
<div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <% if productDisplay.image.present? %>
          <div class="card-image">
            <figure class="image is-128x128">
              <%= image_tag  productDisplay.image %>
            </figure>
          </div>
        <% end %>
        <p class="title">
          <%= link_to productDisplay.name, productDisplay %>
        </p>
        <p><%= productDisplay.description %> </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          Price: <br><%= productDisplay.price.round %>
        </p>
      <% if cart.include?(productDisplay)%>
        <%= button_to cart_path(productDisplay), method: :delete do  %>
          Remove From Cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path do %>
          <%= hidden_field_tag(:id, productDisplay.id)%>
          <input class="button is-dark" type="submit" value="Add to Cart">
        <% end %>
      <% end %>
      <%= form_with url: checkout_create_path, remote: true do %>
        <%= hidden_field_tag(:id, productDisplay.id, autocomplete: "off") %>
        <input class="button is-primary" type="submit" value="Buy Now">
      <%end %>

      </footer>
    </div>
  </div>
</div>
<% end %>